/* reset */

html,body{
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* grid main style */
.gridcontainer {
    display: grid;
    grid-template-columns: repeat(12, [col] 1fr);
    grid-template-rows: repeat(6 [row] auto);
}

header {
    grid-column: col / span 12;
    grid-row: row 1 / span 3;
    background-image: url('https://pbs.twimg.com/media/Dd7gbxvVAAAQ07F.jpg');
    background-position: 70% 70%;
    background-color: #333;
    background-blend-mode: screen;
    background-repeat: no-repeat;
    background-size: cover;
    height: 30vh;
    width: 100%;
    z-index: 1;
}

/* nav style */
nav{
    grid-column:  col 9 / span 12;
    grid-row: row 4;
    height: 10vh;
}

nav ul{
    margin-top: 2em;
    display: flex;
}

nav li {
    list-style-type: none;
    margin-right: 3em;

}

nav li a {
    font-size: 1.2em;
    text-decoration: none;
    color: black;
}

/* main page */

main {
    grid-column: col  / span 12;
    grid-row: row 5;
    background-color: antiquewhite;
}
.homearea {
    padding: 3em;
}
.homearea p,.typearea p{
    max-width: 750px;
}

/* main > type area */
.typearea {
    padding: 3em;
}
.collectBtn{
    width: 200px;
    outline: 2px solid white;
    outline-offset: 0.2em;
    background-color: white;
    padding: .2em .4em;
}
.collectBtn a {
   
    color: rgb(52, 49, 181);
    text-decoration: none;
}

/* main > data area */
.rubbishlist {
    padding: 0 0 3em 3em;
}
.rubbishlist li {
    margin-bottom: 1em;
}

.datainfoarea {
    display: flex;
    justify-content: space-between;
}
.itemInfo {
    margin-right: 5em;
}
/* footer */

footer{
    
    grid-column: col / span 12;
    grid-row: row 6;
}

.footercontent{
    display: flex;
    padding: 3em; 
}
footer p {
    text-align: center;
    margin-top: 10em;
}
.footernav > nav:nth-child(1) > ul:nth-child(1){
    display: flex;
    flex-direction: column;
      
}

.footernav > nav:nth-child(1) > ul:nth-child(1) >li {
    margin-bottom: 1em;
}

/* mobile */

@media (max-width:500px){
    .gridcontainer  {
        grid-template-columns: 1fr;
    }
    nav{
        grid-column:  col;
        padding: 1em;
        height: 5vh;
    }
    nav li {
        margin-right: 1.5em;
    }
    nav ul{
        margin-top: 0.5em;
    }
    .footernav > nav:nth-child(1) > ul:nth-child(1){
        padding:0;  
    }
}